@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400&display=swap");
:root {
  --main-color: #172e80;
  --minor-color: #2e5cff;
  --minor-color2: #f1f8fc;
  --minor-color3: #ff61ef;
  --minor-color4: #5bcdf0;
  --light-one: #fff;
  --light-dark: #9d9d9d;
  --dark-one: #171717;
}
*::before,
*::after,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a:link,
a:visited {
  text-decoration: none;
}
img {
  width: 100%;
}
html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}
body {
  font-family: "Open Sans", sans-serif;
  font-size: 1.6rem;
  overflow-x: hidden;
}
body::-webkit-scrollbar {
  width: 8px;
  background: var(--light-one);
}
body::-webkit-scrollbar-thumb {
  background: #172e80;
  border-radius: 1rem;
}
.loading--gif--container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  background: #f3f6f7;
}
.loading--gif--icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 120px;
}
header {
  margin-bottom: 8rem;
}
/* nav styling */
nav {
  position: relative;
  padding: 2rem 8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 6rem;
}
.nav--logo {
  color: var(--minor-color);
  font-weight: 600;
  font-size: 1.9rem;
}
.nav--links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8rem;
}
.nav--link {
  display: flex;
  justify-content: space-between;
}
.nav--links--link {
  padding: 0 1.3rem;
  color: var(--dark-one);
  font-weight: 600;
  transition: 0.6s;
}
.nav--links--link:hover,
.nav--links--link:active {
  color: var(--minor-color);
}
.nav--link--btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.8rem;
}
.nav--link--btn {
  padding: 0.6rem 1.6rem;
  border-radius: 0.8rem;
  transition: 0.6s;
}
.nav--login {
  box-shadow: 0 0 0 1.5px var(--minor-color);
  color: var(--minor-color);
}
.nav--login:hover,
.nav--login:active {
  color: var(--light-one);
  box-shadow: 0;
  background: var(--minor-color);
}
.nav--sign--up {
  background: var(--minor-color);
  color: var(--light-one);
  padding: 0.75rem 1.6rem;
}
.nav--sign--up:hover,
.nav--sign--up:active {
  box-shadow: 0 0 0 1.5px var(--main-color);
  color: var(--minor-color);
  background: transparent;
}
/* hamburger */
.hamburger {
  display: none;
}
.burger {
  background: var(--minor-color);
  border-radius: 1rem;
  height: 3px;
  width: 40px;
  margin-top: 8px;
  transition: 0.6s;
}
.burger:first-child {
  margin-top: 0;
}
/*  */
/*  */
/* Home page section styling */
/*  */
.home--page {
  padding: 0 8rem;
}
.home--page--row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
  gap: 4rem;
}

.home--page--col--1--h2 {
  font-size: 5.8rem;
  font-weight: 600;
  color: var(--main-color);
  margin-bottom: 2.3rem;
}
.home--page--col--1--paragraph {
  font-size: 1.8rem;
  font-weight: 500;
  color: var(--light-dark);
  margin-bottom: 2.3rem;
}
.home--page--col--1--btn {
  color: var(--light-one);
  background: var(--minor-color);
  transition: 0.6s;
  margin-bottom: 2.3rem;
  padding: 0.8rem 1.6rem;
  border-radius: 0.8rem;
  display: inline-block;
}
.home--page--col--1--btn:hover,
.home--page--col--1--btn:active {
  box-shadow: 0 0 0 1.5px var(--minor-color);
  background: transparent;
  color: var(--minor-color);
}
.home--page--get--btns {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.home--page--get--btn {
  display: flex;
  align-items: center;
  color: var(--light-dark);
  box-shadow: 0 0 0 1.5px var(--light-dark);
  border-radius: 0.8rem;
  padding: 0.6rem 1.2rem;
  gap: 0.6rem;
}
.home--page--get--icons {
  width: 20px;
}
/*  */
.home--page--col--2 {
  position: relative;
  background: var(--minor-color2);
  /* overflow: hidden; */
  border-radius: 1rem;
  width: 380px;
}
.blue--circle--one,
.blue--circle--two {
  background: var(--main-color);
  height: 18px;
  width: 18px;
  border-radius: 50%;
}
.blue--circle--two {
  height: 12px;
  width: 12px;
  position: absolute;
  top: 10%;
  right: -8%;
}
/* floating card on homepage around image */
.home--page--floating--card {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  background: var(--light-one);
  box-shadow: 0 1.5px 8px rgba(157, 157, 157, 0.649);
  border-radius: 0.8rem;
  padding: 0.6rem 1.5rem;
}
.home--page-floating--card--one {
  position: absolute;
  top: 20%;
  right: -10%;
}
.home--page-floating--card--two {
  position: absolute;
  top: 40%;
  left: -18%;
}
.home--page-floating--card--three {
  position: absolute;
  top: 75%;
  right: -8%;
}
.home--page--floating--card--icon {
  width: 25px;
}
.floating--card-text {
  margin-bottom: 0.8rem;
  color: var(--main-color);
  font-weight: 500;
}
.floating--card--bar {
  height: 8px;
  width: 70px;
  background: var(--light-dark);
  border-radius: 0.8rem;
  overflow: hidden;
}
.floating--card--inner--bar {
  background: var(--minor-color3);
  height: 70px;
  width: 28px;
}
/*  */
/* brands logos section */
/*  */
.brand--logos--section {
  padding: 0 8rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 2rem;
  margin-bottom: 7rem;
  flex-wrap: wrap;
}
.brand--logo--img {
  width: 100px;
}
.brand--logo--img:nth-child(2) {
  width: 55px;
}
.brand--logo--img:nth-child(4) {
  width: 95px;
}
/* users counter section */
.users--counter--section {
  padding: 0 8rem;
  margin-bottom: 8rem;
}
.users--counter--section--context {
  margin: 0 auto;
  text-align: center;
  font-size: 4rem;
  color: var(--main-color);
  font-weight: 700;
  width: 55%;
}
.users--count {
  color: var(--minor-color);
}
/* our services section */
.our--services--section {
  padding: 0 8rem;
  margin-bottom: 10rem;
}
.our--services--context {
  margin: 0 auto;
  text-align: center;
  width: 50%;
  margin-bottom: 6rem;
}
.our--services--h3 {
  font-size: 2.2rem;
  font-weight: 400;
  margin-bottom: 1.4rem;
}
.our--services--h2 {
  color: var(--main-color);
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 1.4rem;
}
.our--services--paragraph {
  color: var(--light-dark);
  font-weight: 400;
}
.our--services--card--row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: stretch;
  gap: 2rem;
}
.our--services-card {
  max-width: 30rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background: rgba(241, 248, 252, 0.65);
  border-radius: 1.2rem;
  padding: 2rem 3rem;
}
.our--services--card--two {
  background: #fef6f6;
}
.our--services--card--h2 {
  color: var(--main-color);
  font-weight: 600;
}
.our--services--card--paragraph {
  color: var(--light-dark);
  font-size: 1.4rem;
}
.our--services--card--link {
  color: var(--minor-color);
  display: flex;
  align-items: center;
}
.our--services--card--image {
  width: 120px;
  margin-top: auto;
}
/* figure article section */
.figure--article--section {
  padding: 0 8rem;
  margin-bottom: 100px;
}
.figure--article--img-container {
  width: 260px;
}
.figure--article--rows {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-items: center;
}
.figure--article--first--context {
  font-size: 3.4rem;
  font-weight: 600;
  color: var(--main-color);
  margin-bottom: 4rem;
  text-align: left;
}
.figre--article--col--2 {
  text-align: center;
}
.figure--article--section--numbers {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.figure--number {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.figure--number--1 {
  display: flex;
  gap: 4rem;
}
.figure--number--line {
  height: 100px;
  width: 2px;
  border-radius: 0.8rem;
  background: var(--minor-color);
}
.figure--number--figure {
  color: var(--minor-color);
  font-weight: 600;
  font-size: 2.2rem;
}
.figure--number--context--h4 {
  color: var(--main-color);
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1rem;
  text-align: left;
}
.figure--number--context--paragraph {
  text-align: left;
  color: var(--light-dark);
}
.figure--download--btn {
  position: relative;
  background: var(--minor-color);
  color: var(--light-one);
  border-radius: 0.8rem;
  padding: 1rem 2rem;
  display: inline-block;
  margin-top: 2rem;
}
.figure--download--btn::before {
  content: "";
  height: 100%;
  width: 100%;
  background: rgba(46, 91, 255, 0.787);
  border-radius: 0.8rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: 0.6s;
}
.figure--download--btn:hover.figure--download--btn::before {
  transform: scale(1.5, 2);
  opacity: 0;
}
/* faq section styling */
.faq--section {
  padding: 0 8rem;
  margin-bottom: 10rem;
}
.faq--section--rows {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  align-items: center;
  gap: 2rem;
}
.faq--section--col--1 {
  background: var(--minor-color);
  color: var(--light-one);
  padding: 4rem 8rem 10rem 8rem;
  width: 100%;
  height: 100%;
}
.faq-h2 {
  font-size: 4rem;
  font-weight: 400;
  margin-bottom: 3rem;
}
.faqs--holder {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}
.faq {
  position: relative;
  width: 100%;
  height: 100%;
}
.faq--header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: transparent;
  border-radius: 0.8rem;
  box-shadow: 0 0 0 1.5px var(--light-one);
  padding: 1rem 0.8rem;
  cursor: pointer;
}
.faq--body {
  background: var(--light-one);
  color: var(--main-color);
  border-radius: 0.8rem;
  padding: 1rem 0.8rem;
  position: absolute;
  width: 100%;
  /* top: 68%; */
  top: -10px;
  left: 0;
  transition: 0.6s;
  opacity: 0;
  pointer-events: none;
}
.faq--header--icon {
  font-size: 2.4rem;
  transform: rotate(180deg);
  transition: 0.6s;
}
/*  */
.faq--section--col--2 {
  width: 400px;
}
.faq.faq--active {
  margin-bottom: 6rem;
}
.faq.faq--active .faq--body {
  top: 50px;
  opacity: 1;
  pointer-events: all;
}
.faq.faq--active .faq--header--icon {
  transform: rotate(0);
}
/* testimonial section */
.testimonial--section {
  padding: 0 8rem;
  margin-bottom: 12rem;
}
.testimonial--section--rows {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  align-items: center;
  gap: 1rem;
}
.testimonial--section--col--2 {
  width: 100%;
  position: relative;
}
.testimonial--section--h2 {
  color: var(--dark-one);
  font-weight: 500;
  font-size: 3rem;
}
.testimonial--section--paragraph {
  color: var(--main-color);
  font-size: 5rem;
  font-weight: 600;
  gap: 2rem;
}
.testimonial--cards {
  position: relative;
  margin-bottom: 5rem;
}
.testimonial--card {
  opacity: 0;
  pointer-events: none;
}
.testimonial--card--active.testimonial--card {
  transition: 0.6s;
  position: absolute;
  top: 50px;
  left: 0;
  opacity: 1;
  pointer-events: all;
}
.testimonial--card--paragraph {
  color: var(--light-dark);
  letter-spacing: 1.3px;
  margin-bottom: 2rem;
}
.testimonial--card--user {
  color: var(--main-color);
  font-weight: 500;
  font-size: 2.2rem;
  margin-bottom: 1.2rem;
}
.testimonial--rates {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.testimonial--rate {
  color: #fab004;
}
.testimonial--numbers {
  position: absolute;
  bottom: 30%;
  left: 50%;
  transform: translate(-50%, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-top: -50px;
  z-index: 99;
}
.testimonial--number {
  height: 10px;
  width: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
  background: var(--main-color);
  color: var(--light-one);
  border-radius: 50%;
  cursor: pointer;
}
/*  */
.cta--section {
  padding: 0 8rem;
  margin-bottom: 25rem;
}
.cta--section--container {
  text-align: center;
  background: var(--minor-color);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
  padding: 8rem 0;
  border-radius: 2rem;
  color: var(--light-one);
}
.cta--section--context {
  font-size: 3.8rem;
}
.cta--form {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background: transparent;
  border-radius: 10rem;
  box-shadow: 0 0 0 1.5px var(--light-one);
  padding: 0.3rem 0.3rem;
}
.cta--email--input {
  width: 100%;
  padding: 1rem;
  background: transparent;
  border: 0;
  outline: 0;
  -webkit-text-fill-color: #f3f6f7;
  font-size: 1.6rem;
}
.cta--submit {
  padding: 1rem 2rem;
  border-radius: 10rem;
  border: 0;
  outline: 0;
  background: var(--light-one);
  cursor: pointer;
}
/* footer section */
.footer--section {
  padding: 4rem 8rem;
}
.footer--section--rows {
  display: grid;
  grid-template-columns: 1fr 2fr;
  justify-items: center;
  align-items: start;
}
.footer--col--1--h2 {
  color: var(--main-color);
  font-size: 2.8rem;
  margin-bottom: 1.2rem;
  font-weight: 700;
}
.footer--col--1--paragraph {
  color: var(--light-dark);
  font-weight: 400;
}
.footer--section--col--2 {
  justify-self: end;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 4rem;
  flex-wrap: wrap;
}
.footer--col--2--col--1 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.col--2--col--1--h3 {
  color: var(--main-color);
  margin-bottom: 1.6rem;
}
.col--2--col--1--link {
  color: var(--minor-color);
}
.footer--links--rows {
  margin-top: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.footer--links--col--1 {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
.copyrights {
  color: var(--main-color);
}
.footer--link {
  color: var(--minor-color);
}
/*  */
/*  */
/* MEDIA QUERIES FOR RESPONSIVENESS */
/*  */
/*  */
@media screen and (max-width: 940px) {
  html {
    font-size: 50%;
  }
}
@media screen and (max-width: 924px) {
  .faq--section--rows {
    grid-template-columns: 1fr;
  }
}
@media screen and (max-width: 920px) {
  html {
    font-size: 62.5%;
  }
  nav {
    box-shadow: 0 1.5px 8px rgba(46, 91, 255, 0.212);
  }
  .nav--logo {
    font-size: 2.4rem;
  }
  .nav--links {
    position: fixed;
    padding: 2rem 3rem;
    background: var(--light-one);
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
    top: 65px;
    right: -2000px;
    width: 50%;
    height: 100%;
    z-index: 999;
    box-shadow: 0 1.5px 9px rgba(46, 91, 255, 0.27);
    transition: 0.6s;
  }
  .nav--link {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }
  .nav--link--btns {
    flex-direction: column;
  }
  .hamburger {
    cursor: pointer;
    display: block;
  }
  /* home page */
  .home--page--row {
    grid-template-columns: 1fr;
    justify-items: center;
  }
  .home--page--col--1 {
    text-align: center;
  }
  .home--page--get--btns {
    justify-content: center;
  }
  .users--counter--section--context {
    width: 95%;
  }
  .users--counter--section,
  .home--page,
  .cta--section,
  .faq--section,
  .testimonial--section,
  .brand--logos--section,
  .figure--article--section,
  .our--services--section {
    padding: 0 4rem;
  }
  nav {
    padding: 1rem 5rem;
  }
  .footer--section {
    padding: 4rem 4rem;
  }
}
@media screen and (max-width: 768px) {
  html {
    font-size: 55%;
  }
  .home--page--get--btns {
    flex-direction: column;
  }
  .our--services--card--row {
    grid-template-columns: 1fr;
  }
  .our--services--card--image {
    width: 100%;
  }
  .figure--article--rows {
    grid-template-columns: 1fr;
    gap: 3rem;
  }
  .figure--article--first--context {
    text-align: center;
  }
  .testimonial--section--rows {
    grid-template-columns: 1fr;
  }
  .testionial--section--col--1 {
    text-align: center;
  }
  .footer--section--col--2 {
    grid-template-columns: repeat(2, 1fr);
    justify-self: center;
  }
  .footer--links--rows {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1.3rem;
  }
}
@media screen and (max-width: 684px) {
  .footer--section--col--1 {
    text-align: center;
  }
  .footer--section--rows {
    grid-template-columns: 1fr;
    gap: 5rem;
  }
  .footer--section--col--2 {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 590px) {
  nav {
    padding: 0.8rem 1rem;
  }
  .faq--section {
    padding: 0;
  }
  .faq--section--col--1 {
    justify-self: start;
    margin: 0 auto;
  }
  .home--page--col--2 {
    width: 280px;
  }
  .our--services--context {
    width: 90%;
  }
  .cta--form {
    width: 80%;
  }
}
@media screen and (max-width: 464px) {
  .footer--section--col--2 {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 374px) {
  .footer--section--col--2 {
    grid-template-columns: 1fr;
    text-align: center;
  }
}
/*  */
/*  */
/* last styling for the mobile nav */
/*  */
/*  */
.nav--links--toggle.nav--links {
  right: 0;
}
.burger--toggle.burger--one {
  transform: rotate(-45deg) translate(0, 5px);
}
.burger--toggle.burger--two {
  display: none;
}
.burger--toggle.burger--three {
  transform: rotate(45deg) translate(0, -5px);
}
